<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Загрузка файлов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<link type="text/css"
        media="all"
        rel="stylesheet"
        th:href="@{/css/style.css}">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<div class="container">
    <br/>
    <div class="row">
        <div class="col">
            <form method="POST"
                  th:action="@{/upload-file-multiple}"
                  enctype="multipart/form-data">
                <span class="h4">Загрузка нескольких файлов</span>
                <div class="form-group">
                    <input type="file"
                           id="file"
                           name="file" multiple>
                </div>
                <div th:if="${!errors.isEmpty()}">
                    <div class="alert alert-warning" th:text="*{errors.get(0)}"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <p>Сохраненные только что файлы:</p>
    <ul th:if="${!uploadedFiles.isEmpty()}" th:each="uploaded : ${uploadedFiles}">
        <li class="alert alert-warning" th:text="*{uploaded}"></li>
    </ul>

    <p>Все сохраненные файлы:</p>
    <ul th:if="${!storedFileNamesWithUri.isEmpty()}" th:each="stored : ${storedFileNamesWithUri}">
        <a th:href="@{'/get-resource-by-fid/' + *{stored.getKey()}}">
            <li class="alert alert-warning" th:text="*{stored.getValue()}">File</li>
        </a>
    </ul>

    <!--    <form  method="get"-->
    <!--           th:action="@{/delete-uploads}"-->
    <!--           class="form-horizontal">-->
    <!--        <button>Удалить всю папку uploads</button>-->
    <!--    </form>-->

    <hr>

    <div class="row">
        <div class="col">
            <span class="h4">Cкачать всех пользователей в формате .xlsx</span>
            <a th:href="@{/users/export/excel}" class="btn btn-default">Экспорт</a>

            <hr>

            <form method="POST"
                  th:action="@{/users/import/excel}"
                  enctype="multipart/form-data">
                <div>
                    <span class="h4">Импорт пользователей в БД (загрузите файл в формате .xlsx)</span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="file"
                           id="fileImportExcel"
                           name="fileImportExcel">
                </div>
                <div th:if="${!errorsImportExcel.isEmpty()}">
                    <div class="alert alert-warning" th:text="*{errorsImportExcel.get(0)}"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Импорт</button>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <span class="h4">Cкачать всех пользователей в формате .pdf (Библиотека OpenPDF)</span>
            <a th:href="@{/users/export/open-pdf}" class="btn btn-default">Экспорт</a>

            <hr>
            <span class="h4">Cкачать всех пользователей в формате .pdf (Библиотека iTextPDF)</span>
            <a th:href="@{/users/export/itextpdf-pdf}" class="btn btn-default">Экспорт</a>

            <hr>
            <span class="h4">Cкачать всех пользователей в формате .pdf (Функционал Spring)</span>
            <a th:href="@{/users/export/extended-openpdf-pdf}" class="btn btn-default">Экспорт</a>

            <hr>
            <span class="h4">Cкачать всех пользователей в формате .csv (Функционал Spring)</span>
            <a th:href="@{/users/export/extended-mycsv-csv}" class="btn btn-default">Экспорт</a>

            <hr>

            <!--            <form method="POST"-->
            <!--                  th:action="@{/users/import/pdf}"-->
            <!--                  enctype="multipart/form-data">-->
            <!--                <div>-->
            <!--                    <span class="h4">Импорт пользователей в БД</span>-->
            <!--                    <br/>-->
            <!--                    <span>(загрузите файл в формате .pdf)</span>-->
            <!--                </div>-->
            <!--                <br/>-->
            <!--                <div class="form-group">-->
            <!--                    <input type="file"-->
            <!--                           id="fileImportPdf"-->
            <!--                           name="fileImportPdf">-->
            <!--                </div>-->
            <!--                <div th:if="${!errorsImportPdf.isEmpty()}">-->
            <!--                    <div class="alert alert-warning" th:text="*{errorsImportPdf.get(0)}"></div>-->
            <!--                </div>-->
            <!--                <div class="form-group">-->
            <!--                    <button type="submit" class="btn btn-default">Импорт</button>-->
            <!--                </div>-->
            <!--            </form>-->

        </div>
    </div>

</div>
</body>
</html>