<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Загрузка файлов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<link
        type="text/css"
        media="all"
        rel="stylesheet"
        th:href="@{/css/style.css}">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <form  method="post"
                   th:action="@{/upload-file-multiple}"
                   enctype="multipart/form-data"
                   class="form-horizontal">

                <span class="heading">Загрузка нескольких файлов</span>

                <div class="form-group">
                    <input type="file"
                           id="file"
                           name="file" multiple>
                </div>
                <br/>
                <div th:if="${!errors.isEmpty()}">
                    <div class="alert alert-warning" th:text="*{errors.get(0)}"></div>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
    <p>Сохраненные только что файлы:</p>
    <ul th:if="${!uploadedFiles.isEmpty()}" th:each="uploaded : ${uploadedFiles}">
        <li class="alert alert-warning" th:text="*{uploaded}"></li>
    </ul>
    <p>Все сохраненные файлы:</p>
    <ul th:if="${!storedFileNamesWithUri.isEmpty()}" th:each="stored : ${storedFileNamesWithUri}">
<!--        <a download="*{stored.getKey()}">-->
        <a th:href="@{'/get-resource-by-fid/' + *{stored.getKey()}}">
<!--        <a th:href="*{stored.getKey()}">-->
            <li class="alert alert-warning" th:text="*{stored.getValue()}">File</li>
        </a>
    </ul>
</div>
</body>
</html>